# ignore everything
*

# allow folders + their contents
!alacritty/
!alacritty/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!nvim/
!nvim/**
!scripts/
!scripts/**
!waybar/
!waybar/**
!wlogout/
!wlogout/**
!wofi/
!wofi/**
!install_scripts/
!install_scripts/**
!dotfiles/
!dotfiles/**
!rofi/
!rofi/**

# allow specific files
!README.md
!starship.toml
!.gitignore

